In [7]:
import pandas as pd
import numpy as np

ema_df = pd.read_csv('../../Dataset/EMA/general_ema.csv')
sensing_df = pd.read_csv('../../Dataset/Sensing/sensing.csv')

In [2]:

# Define columns we want for each EP
ep_column_names = [col for col in sensing_df.columns if '_ep_' in col]
ep_column_prefixes = set()
for col in ep_column_names:
    # Split on '_ep_' and take the first part
    prefix = col.split('_ep_')[0]
    ep_column_prefixes.add(prefix)

print(ep_column_prefixes)

{'other_playing_num', 'audio_voice', 'act_in_vehicle', 'call_out_num', 'call_miss_num', 'loc_max_dis_from_campus', 'audio_amp_std', 'light_mean', 'light_std', 'other_playing_duration', 'act_on_foot', 'loc_visit_num', 'audio_convo_duration', 'audio_convo_num', 'call_in_duration', 'call_out_duration', 'act_walking', 'act_still', 'loc_dist', 'sms_in_num', 'act_running', 'sms_out_num', 'audio_amp_mean', 'call_in_num', 'unlock_duration', 'unlock_num', 'act_on_bike'}

In [15]:
def create_ep_profile(prefix_list):
    # Initialize empty list to store data
    # Create new dataframe with repeated rows for each EP
    ep_profile = pd.DataFrame({
        'uid': sensing_df['uid'].repeat(3),
        'date': sensing_df['day'].repeat(3),
        'ep': np.tile([1, 2, 3], len(sensing_df))
    })
    # Add each metric for this EP
    for prefix in prefix_list:
    # Get values for all three EPs at once
        ep_profile[prefix] = pd.concat([
            sensing_df[f"{prefix}_ep_1"],
            sensing_df[f"{prefix}_ep_2"],
            sensing_df[f"{prefix}_ep_3"]
        ]).reset_index(drop=True)
    
    ep_profile = ep_profile.set_index(['uid', 'date', 'ep'])
    
    return ep_profile

In [16]:
ep_profile = create_ep_profile(ep_column_prefixes)
display(ep_profile)

                                              other_playing_num  audio_voice  \
uid                              date     ep
1ff6d7f34acb354430e7323a35ff7703 20170907 1                 0.0     0.000000
                                          2                 0.0     0.000000
                                          3                 0.0     0.000000
                                 20170908 1                 0.0     0.002914
                                          2                 0.0     0.002914
...                                                         ...          ...
6b0083d00297f9c03e00b2cde889b666 20201109 2                 1.0     0.000000
                                          3                 1.0     0.000000
                                 20201110 1                 1.0     0.000000
                                          2                 1.0     0.000000
                                          3                 1.0     0.000000

                                              act_in_vehicle  call_out_num  \
uid                              date     ep
1ff6d7f34acb354430e7323a35ff7703 20170907 1                0           NaN
                                          2                0           NaN
                                          3                0           NaN
                                 20170908 1                0           NaN
                                          2                0           NaN
...                                                      ...           ...
6b0083d00297f9c03e00b2cde889b666 20201109 2                0           NaN
                                          3                0           NaN
                                 20201110 1                0           NaN
                                          2                0           NaN
                                          3                0           NaN

                                              call_miss_num  \
uid                              date     ep
1ff6d7f34acb354430e7323a35ff7703 20170907 1             NaN
                                          2             NaN
                                          3             NaN
                                 20170908 1             NaN
                                          2             NaN
...                                                     ...
6b0083d00297f9c03e00b2cde889b666 20201109 2             NaN
                                          3             NaN
                                 20201110 1             NaN
                                          2             NaN
                                          3             NaN

                                              loc_max_dis_from_campus  \
uid                              date     ep
1ff6d7f34acb354430e7323a35ff7703 20170907 1                       NaN
                                          2                       NaN
                                          3                       NaN
                                 20170908 1                339.741071
                                          2                339.741071
...                                                               ...
6b0083d00297f9c03e00b2cde889b666 20201109 2                268.546838
                                          3                268.546838
                                 20201110 1                268.979020
                                          2                268.979020
                                          3                268.979020

                                              audio_amp_std  light_mean  \
uid                              date     ep
1ff6d7f34acb354430e7323a35ff7703 20170907 1             NaN         NaN
                                          2             NaN         NaN
                                          3             NaN         NaN
                                 20170908 1     2323.246024         NaN
                                          2     2323.246024         NaN
...                                                     ...         ...
6b0083d00297f9c03e00b2cde889b666 20201109 2             NaN         NaN
                                          3             NaN         NaN
                                 20201110 1             NaN         NaN
                                          2             NaN         NaN
                                          3             NaN         NaN

                                              light_std  \
uid                              date     ep
1ff6d7f34acb354430e7323a35ff7703 20170907 1         NaN
                                          2         NaN
                                          3         NaN
                                 20170908 1         NaN
                                          2         NaN
...                                                 ...
6b0083d00297f9c03e00b2cde889b666 20201109 2         NaN
                                          3         NaN
                                 20201110 1         NaN
                                          2         NaN
                                          3         NaN

                                              other_playing_duration  ...  \
uid                              date     ep                          ...
1ff6d7f34acb354430e7323a35ff7703 20170907 1                      0.0  ...
                                          2                      0.0  ...
                                          3                      0.0  ...
                                 20170908 1                      0.0  ...
                                          2                      0.0  ...
...                                                              ...  ...
6b0083d00297f9c03e00b2cde889b666 20201109 2                   3001.0  ...
                                          3                   3001.0  ...
                                 20201110 1                    600.0  ...
                                          2                    600.0  ...
                                          3                    600.0  ...

                                              act_still    loc_dist  \
uid                              date     ep
1ff6d7f34acb354430e7323a35ff7703 20170907 1       32399         NaN
                                          2       32399         NaN
                                          3       32399         NaN
                                 20170908 1       30900  875.603131
                                          2       30900  875.603131
...                                                 ...         ...
6b0083d00297f9c03e00b2cde889b666 20201109 2       29928  415.419163
                                          3       29928  415.419163
                                 20201110 1       30980  424.261035
                                          2       30980  424.261035
                                          3       30980  424.261035

                                              sms_in_num  act_running  \
uid                              date     ep
1ff6d7f34acb354430e7323a35ff7703 20170907 1          NaN            0
                                          2          NaN            0
                                          3          NaN            0
                                 20170908 1          NaN            0
                                          2          NaN            0
...                                                  ...          ...
6b0083d00297f9c03e00b2cde889b666 20201109 2          NaN            2
                                          3          NaN            2
                                 20201110 1          NaN           39
                                          2          NaN           39
                                          3          NaN           39

                                              sms_out_num  audio_amp_mean  \
uid                              date     ep
1ff6d7f34acb354430e7323a35ff7703 20170907 1           NaN             NaN
                                          2           NaN             NaN
                                          3           NaN             NaN
                                 20170908 1           NaN     2682.830558
                                          2           NaN     2682.830558
...                                                   ...             ...
6b0083d00297f9c03e00b2cde889b666 20201109 2           NaN             NaN
                                          3           NaN             NaN
                                 20201110 1           NaN             NaN
                                          2           NaN             NaN
                                          3           NaN             NaN

                                              call_in_num  unlock_duration  \
uid                              date     ep
1ff6d7f34acb354430e7323a35ff7703 20170907 1           NaN            0.000
                                          2           NaN            0.000
                                          3           NaN            0.000
                                 20170908 1           NaN          105.725
                                          2           NaN          105.725
...                                                   ...              ...
6b0083d00297f9c03e00b2cde889b666 20201109 2           NaN         6413.515
                                          3           NaN         6413.515
                                 20201110 1           NaN          870.224
                                          2           NaN          870.224
                                          3           NaN          870.224

                                              unlock_num  act_on_bike
uid                              date     ep
1ff6d7f34acb354430e7323a35ff7703 20170907 1            0            0
                                          2            0            0
                                          3            0            0
                                 20170908 1            6            0
                                          2            6            0
...                                                  ...          ...
6b0083d00297f9c03e00b2cde889b666 20201109 2           32            0
                                          3           32            0
                                 20201110 1           18            0
                                          2           18            0
                                          3           18            0

[648195 rows x 27 columns]